@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 65px;
  line-height: 1.2153846154;
}

:root {
  --width: 100vw;
  --angle: -7.8deg;
  --angle-right: 6.2deg;
  --magic-number: 0.06845;
  --skew-padding: calc(var(--width) * var(--magic-number));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #4F5D75;
  color: #2D3142;
}
body._lock {
  overflow: hidden !important;
  height: 100% !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo--header {
  height: 50px;
}

.header__ver {
  background-color: #4F5D75;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding: 120px 0 120px 105px;
  position: relative;
}
.header__ver::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 79px;
  height: 1px;
  background-color: #F6F6F6;
  -webkit-transform: translateX(35%) rotate(172.52deg);
  -ms-transform: translateX(35%) rotate(172.52deg);
  transform: translateX(35%) rotate(172.52deg);
}
.header__ver-right::before {
  -webkit-transform: translateX(35%) rotate(-172.52deg);
  -ms-transform: translateX(35%) rotate(-172.52deg);
  transform: translateX(35%) rotate(-172.52deg);
  top: 14px;
}
.header__ver-last::before {
  content: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  background: #2D3142;
  border-radius: 20px;
  padding: 10px 32px;
  color: #F6F6F6;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.diagonal-box {
  position: relative;
  margin-top: -1px;
}

.bg-one:before {
  background-image: -o-linear-gradient(45deg, #654ea3, #eaafc8);
  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  z-index: 1;
}

.bg-two:before {
  background-color: #FFFFFF;
  z-index: 0;
}

.header {
  background-color: #4F5D75;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 8;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  height: 59px;
  margin-right: 197px;
}
.header__menu {
  margin-right: 78px;
}
.header__phone {
  height: 20px;
  width: 20px;
  margin-right: 30px;
}
.header__phone img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__lang > .menu__item {
  position: relative;
  text-transform: unset;
}
.header__lang > .menu__item:not(:last-child) {
  margin-right: 8px;
}
.header__lang > .menu__item:first-child::before {
  content: "";
  position: absolute;
  right: -5px;
  top: 2px;
  height: 16px;
  width: 2px;
  background-color: #FFFFFF;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item {
  width: 24px;
  height: 24px;
  margin-right: 29px;
}
.social__item img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.first {
  position: relative;
  background-color: #fff;
  background-image: url(../images/bg/first-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  z-index: 4;
}
.first::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.first__container {
  padding-left: 207px;
  padding-top: 200px;
  padding-bottom: 228px;
  z-index: 2;
  position: relative;
}
.first__head {
  z-index: 2;
  position: relative;
  text-shadow: 0px 3px 36px #000000;
  color: #F6F6F6;
  text-transform: uppercase;
  margin-bottom: 31px;
  letter-spacing: 0.09em;
}
.first__head::after {
  position: absolute;
  content: "";
  bottom: 0;
  bottom: 77px;
  height: 3px;
  width: 272px;
  background-color: #F6F6F6;
}
.first__head span {
  letter-spacing: 0;
  display: block;
  margin-top: 33px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2181818182;
  color: #FFFFFF;
  text-shadow: 0px 2px 14px #000000;
  text-transform: lowercase;
}
.first__btn {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2083333333;
  padding: 20px;
  background-color: #EF8354;
  border-radius: 36px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.features {
  z-index: 3;
}
.features__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  --translation: 0;
  padding-left: 60px;
  position: relative;
  height: 436px;
}
.features__boxes::before {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle));
  -ms-transform: skewy(var(--angle));
  transform: skewy(var(--angle));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}
.features__boxes > .box {
  width: 273px;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(var(--translation));
  -ms-transform: translateY(var(--translation));
  transform: translateY(var(--translation));
}
.features__boxes > .box:nth-child(1) {
  --translation: calc(var(--skew-padding) * 0);
}
.features__boxes > .box:nth-child(2) {
  --translation: calc(var(--skew-padding) * -0.5);
}
.features__boxes > .box:nth-child(3) {
  --translation: calc(var(--skew-padding) * -1);
}
.features__icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.features__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.features__text {
  line-height: 1.5;
}
.features__text p:not(:last-child) {
  margin-bottom: 20px;
}

.about {
  z-index: 2;
}
.about__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__head::before {
  top: -17px;
}
.about__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  --translation: 0;
  padding-left: 60px;
  position: relative;
  color: #FFFFFF;
  padding-top: 160px;
  height: 490px;
}
.about__boxes::before {
  position: absolute;
  overflow: hidden;
  content: "";
  top: -142px;
  left: 0;
  bottom: 0;
  right: -120px;
  background: rgba(0, 0, 0, 0.75);
  height: 113%;
  width: 111.5%;
  z-index: 0;
  -webkit-transform: skewy(var(--angle));
  -ms-transform: skewy(var(--angle));
  transform: skewy(var(--angle));
}
.about__boxes::after {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle));
  -ms-transform: skewy(var(--angle));
  transform: skewy(var(--angle));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url("../images/bg/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.about__boxes > .box {
  position: relative;
  width: 273px;
  height: 0;
  padding-bottom: 100%;
  -webkit-transform: translateY(var(--translation));
  -ms-transform: translateY(var(--translation));
  transform: translateY(var(--translation));
}
.about__boxes > .box:nth-child(1) {
  --translation: calc(var(--skew-padding) * 0);
}
.about__boxes > .box:nth-child(2) {
  --translation: calc(var(--skew-padding) * -0.5);
}
.about__boxes > .box:nth-child(3) {
  --translation: calc(var(--skew-padding) * -1);
}
.about__boxes > .box::before {
  position: absolute;
  content: "";
  top: -9px;
  left: -16px;
  width: 19px;
  height: 19px;
  border-top: 3px solid rgba(196, 196, 196, 0.5);
  border-left: 3px solid rgba(196, 196, 196, 0.5);
}
.about__boxes > .box::after {
  position: absolute;
  content: "";
  top: 155px;
  right: -4px;
  width: 19px;
  height: 19px;
  border-bottom: 3px solid rgba(196, 196, 196, 0.5);
  border-right: 3px solid rgba(196, 196, 196, 0.5);
}
.about__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.about__text {
  line-height: 1.5;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__head {
  padding: 70px 0 110px 105px;
}
.contacts__head::before {
  content: none;
}
.contacts__info {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-left: 60px;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__item {
  width: 40px;
  height: 40px;
}
.contacts__item:not(:last-child) {
  margin-right: 18px;
}
.contacts__link img {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 0;
  padding: 0;
}
.contacts__phone {
  position: relative;
  line-height: 160%;
  color: #F6F6F6;
  font-style: normal;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.contacts__phone::before {
  position: absolute;
  content: "";
  display: inline-block;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.box-img {
  margin-top: -2px;
}
.box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.box-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 35px;
}
.box-descr {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-bottom: 37px;
}
.box-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box-btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #F6F6F6;
  width: 188px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.roller {
  position: relative;
}
.roller__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.roller__head {
  padding-left: 100px;
  text-transform: lowercase;
}
.roller__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 405px;
  grid-template-columns: 600px 405px;
  grid-gap: 50px;
  --translation: 0;
  position: relative;
  height: 493px;
  padding-bottom: 20px;
}
.roller__boxes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle-right));
  -ms-transform: skewy(var(--angle-right));
  transform: skewy(var(--angle-right));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  z-index: -1;
}
.roller__boxes-first::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  right: -120px;
  bottom: 0;
  background-color: #fff;
  z-index: -2;
}
.roller__boxes-nobg {
  color: #F6F6F6;
}
.roller__boxes-nobg::before {
  content: none;
}
.roller__boxes-last {
  height: 128px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 30px;
  margin-left: 53px;
}
.roller__boxes > .box {
  width: 273px;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(var(--translation));
  -ms-transform: translateY(var(--translation));
  transform: translateY(var(--translation));
}
.roller__box {
  margin-bottom: 0;
}
.roller__box-first {
  margin-bottom: 67px;
}
.roller__top {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: 4px solid #2D3142;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 5px;
}
.roller__top .roller__btn {
  cursor: pointer;
}
.roller__bottom {
  position: absolute;
  bottom: -75px;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: 4px solid #2D3142;
}
.roller__btn {
  margin-left: 3px;
  background: none;
  outline: none;
  border: none;
}
.roller__btn-svg {
  width: 50px;
  height: 50px;
  fill: #2D3142;
}
.roller__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.roller__text {
  line-height: 1.5;
}
.roller__text p:not(:last-child) {
  margin-bottom: 20px;
}
.roller-roller {
  z-index: 10;
}
.roller-day-night {
  z-index: 54;
}
.roller-rome {
  z-index: 44;
}
.roller-wood {
  z-index: 34;
}
.roller-rollet {
  z-index: 24;
}
.roller-setka {
  z-index: 15;
}

.fabric__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fabric__head {
  padding-left: 100px;
  text-transform: lowercase;
}
.fabric__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 493px;
  width: 100%;
  padding-left: 60px;
}
.fabric__boxes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle-right));
  -ms-transform: skewy(var(--angle-right));
  transform: skewy(var(--angle-right));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
}
.fabric__boxes-last {
  height: 128px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 30px;
  margin-left: 66px;
  color: #F6F6F6;
}
.fabric__boxes-last::before {
  content: none;
}
.fabric__boxes-bg::after {
  position: absolute;
  content: "";
  top: 0;
  right: -120px;
  bottom: 0;
  left: 0;
  height: 100%;
  -webkit-transform: skewy(var(--angle-right));
  -ms-transform: skewy(var(--angle-right));
  transform: skewy(var(--angle-right));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
}
.fabric__boxes-roller {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fabric__boxes-roller::before {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  bottom: -120px;
  top: -7px;
  background: url(../images/fabric/roller/00.png) center/cover no-repeat;
}
.fabric__boxes-roller::after {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  bottom: -120px;
}
.fabric__boxes-rome::before {
  background: url(../images/fabric/rome/01.jpg) center/cover no-repeat;
}
.fabric__boxes-rollet::before {
  background: url(../images/fabric/rollet/01.jpg) center/cover no-repeat;
}
.fabric__slider {
  height: 360px;
  width: 600px;
  position: relative;
  background-color: #4F5D75;
}
.fabric__bottom {
  bottom: -81px;
  right: 1px;
  border: 4px solid #F6F6F6;
}
.fabric__bottom .roller__btn-svg {
  fill: #F6F6F6;
}

.main-slider {
  position: relative;
  height: 360px;
  width: 600px;
  background-color: #4F5D75;
  -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
}
.main-slider__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-slider__slide {
  width: 600px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
}
.main-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  width: 14px;
  cursor: pointer;
  z-index: 12;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.main-slider__btn-prev {
  left: 50px;
}
.main-slider__btn-fill {
  width: 100%;
  height: 100%;
  fill: #B2B2B2;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-slider__btn-next {
  right: 50px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding: 150px 30px 50px 70px;
    background-color: rgba(79, 93, 117, 0.95);
    overflow: auto;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 116px;
    background-color: rgba(79, 93, 117, 0.95);
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 2;
  }
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #F6F6F6;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu__item::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.menu__item:not(:last-child) {
  margin-right: 63px;
}
.menu__item.current {
  color: #2D3142;
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
  }
  .menu__item:not(:last-child) {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    width: 32px;
    height: 29px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 5;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #F6F6F6;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.modal._active {
  visibility: visible;
  opacity: 1;
}
.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(28, 33, 41, 0.9);
}
.modal__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 65%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(79, 93, 117, 0.65);
  border-radius: 50px;
  padding: 60px 50px;
  height: 90vh;
  overflow-y: auto;
}
.modal__inner::-webkit-scrollbar {
  width: 0;
}
.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 42px;
  height: 42px;
  background: none;
  border-radius: 50%;
  padding: 7px;
  border: 2px solid #F6F6F6;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.modal__title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.125;
  margin-bottom: 30px;
}
.modal__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  margin: 0 auto;
}
.modal__descr h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}
.modal__descr p {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}
.modal.active {
  display: block;
}

@media (min-width: 992px) {
  .menu__item:hover::before {
    width: 100%;
  }
  .main-slider__btn:hover {
    width: 18px;
    height: 28px;
  }
  .header__phone:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .social__item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .first__btn:hover {
    padding: 20px 40px;
    background-color: #ed723d;
    -webkit-filter: drop-shadow(0px 6px 11px rgba(45, 49, 66, 0.7));
    filter: drop-shadow(0px 6px 11px rgba(45, 49, 66, 0.7));
  }
  .contacts__item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .contacts__phone:hover::before {
    width: 100%;
  }
  .box-btn:hover {
    background-color: #232633;
    -webkit-filter: drop-shadow(2px 4px 10px rgba(45, 49, 66, 0.4));
    filter: drop-shadow(2px 4px 10px rgba(45, 49, 66, 0.4));
  }
  .modal__close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media (min-width: 992px) {
  .roller__btn-svg {
    -webkit-animation: move-down 5s infinite linear;
    animation: move-down 5s infinite linear;
  }
}
@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  45% {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px);
  }
  70% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  85% {
    -webkit-transform: translate(0, 9px);
    transform: translate(0, 9px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes move-down {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  45% {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px);
  }
  70% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  85% {
    -webkit-transform: translate(0, 9px);
    transform: translate(0, 9px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 1300px) {
  .features__boxes {
    padding-right: 60px;
  }
  .features__boxes::before {
    right: 0;
  }
  .about__boxes {
    padding-right: 60px;
  }
  .about__boxes::before {
    top: -94px;
    bottom: 75px;
    right: 0;
    width: auto;
    height: auto;
  }
  .about__boxes::after {
    right: 0;
  }
}
@media (max-width: 1250px) {
  .header__ver {
    padding: 120px 0px 120px 74px;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    margin-left: 26px;
  }
}
@media (max-width: 1200px) {
  .first {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
  }
  .header__ver {
    padding: 120px 10px 120px 50px;
  }
  .header__ver::before {
    top: 8px;
  }
  .about__head::before {
    top: -11px;
  }
  .header__logo {
    margin-right: 150px;
  }
  .menu__item:not(:last-child) {
    margin-right: 58px;
  }
  .about__boxes,
.features__boxes {
    grid-gap: 55px;
  }
  .about__boxes::before {
    bottom: 72px;
  }
  .contacts__head {
    padding: 80px 10px 80px 50px;
  }
  .contacts__info {
    padding-right: 60px;
  }
  .roller__boxes {
    -ms-grid-columns: 56% 39%;
    grid-template-columns: 56% 39%;
  }
  .roller__boxes-last {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    margin-left: 13px;
  }
}
@media (max-width: 1150px) {
  .header__logo {
    margin-right: 90px;
  }
  .about__boxes,
.features__boxes {
    grid-gap: 40px;
  }
  .roller__boxes {
    grid-gap: 35px;
    height: 462px;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    height: auto;
  }
  .header__ver {
    padding: 81px 10px 81px 50px;
  }
  .modal__inner {
    width: 85%;
  }
}
@media (max-width: 1100px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .first__container {
    padding-left: 15%;
  }
  .about__boxes::before {
    bottom: 68px;
  }
  .roller__boxes {
    height: 462px;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    height: auto;
  }
}
@media (max-width: 1050px) {
  .first {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  }
  .header__menu,
.header__logo {
    margin-right: 0;
  }
  .features__boxes > .box,
.about__boxes > .box {
    width: 248px;
  }
  .about__boxes,
.features__boxes {
    grid-gap: 35px;
  }
  .about__boxes::before {
    bottom: 62px;
  }
  .roller__boxes {
    height: 400px;
    -ms-grid-columns: 48% 48%;
    grid-template-columns: 48% 48%;
  }
  .box-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .box-descr {
    margin-bottom: 24px;
  }
  .roller__bottom {
    bottom: -37px;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    height: auto;
  }
}
@media (max-width: 992px) {
  .menu__item::before {
    content: none;
  }
  .header {
    position: fixed;
    -webkit-filter: drop-shadow(5px 0px 15px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(5px 0px 15px rgba(0, 0, 0, 0.7));
    background-color: rgba(79, 93, 117, 0.9);
    z-index: 150;
    width: 100%;
  }
  .header__social {
    display: none;
  }
  .first {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .first__container {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .features__container,
.about__container,
.contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__ver {
    margin-top: 2px;
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    padding: 5% 0;
    text-align: center;
  }
  .header__ver::before {
    content: none;
  }
  .features__boxes,
.about__boxes {
    padding: 50px;
    height: auto;
  }
  .features__boxes::before,
.about__boxes::before {
    z-index: -1;
    right: -15px;
    left: -15px;
    top: 0;
    bottom: 0;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
  .about__boxes::after {
    z-index: -2;
    right: -15px;
    left: -15px;
    top: 0;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
  .features__boxes > .box,
.about__boxes > .box {
    text-align: center;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    height: auto;
    padding-bottom: 0;
    width: 100%;
  }
  .contacts__info {
    padding: 25px 15px;
  }
  .roller-roller,
.fabric {
    margin-top: 95px;
  }
  .roller__container,
.fabric__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .roller__boxes {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 0;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    min-height: 420px;
  }
  .roller__boxes img {
    margin-left: -15px;
  }
  .roller__boxes::before {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    right: -15px;
    left: -15px;
  }
  .roller__box-first {
    margin-bottom: 0;
  }
  .roller__bottom {
    display: none;
  }
  .box-img {
    margin-top: 0;
    height: 100%;
  }
  .roller__box {
    margin-bottom: 20px;
  }
  .box-btn {
    width: 175px;
    padding: 10px 27px;
    text-align: center;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    padding: 15px 0;
    margin-left: 0;
  }
  .roller__top {
    display: none;
  }
  .roller__boxes-last,
.fabric__boxes-last {
    min-height: auto;
  }
  .modal__inner {
    height: 80vh;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 120px;
  }
  .fabric__boxes-roller::before {
    bottom: 0;
    left: -15px;
    top: 0;
    right: -15px;
    background: url(../images/fabric/roller/01.jpg) center/cover no-repeat;
  }
  .fabric__boxes {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
  }
  .fabric__boxes::before,
.fabric__boxes-bg::after {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    right: -15px;
    left: -15px;
  }
}
@media (max-width: 842px) {
  .features__boxes,
.about__boxes {
    padding: 50px 35px;
  }
}
@media (max-width: 768px) {
  body._lock {
    overflow: hidden;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    background-color: rgba(79, 93, 117, 0.9);
    -webkit-filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
  }
  .header__container {
    padding: 0 30px;
  }
  .header__logo {
    height: 40px;
    z-index: 16;
  }
  .header__lang {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 25px;
  }
  .header__lang .menu__item {
    margin-bottom: 0;
    margin-left: 20px;
  }
  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__phone {
    height: 50px;
    width: 50px;
  }
  .header__lang > .menu__item:first-child::before {
    content: none;
  }
  .menu__item.current {
    color: #2D3142;
  }
  .social__item {
    margin-right: 0;
    margin-left: 30px;
    width: 50px;
    height: 50px;
  }
  .social__item__logo {
    height: 40px;
    z-index: 10;
  }
  .first__head {
    font-size: 45px;
  }
  .first__head span {
    font-size: 35px;
  }
  .first__head::after {
    bottom: 55px;
  }
  .first__container {
    padding-left: 7%;
    padding-top: 25%;
  }
  .features__boxes,
.about__boxes {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .about__boxes > .box::before, .about__boxes > .box::after {
    content: none;
  }
  .contacts__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contacts__phone {
    margin-bottom: 15px;
  }
  .box-btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .box-btns a {
    margin-bottom: 20px;
  }
  .box-btn {
    width: 85%;
  }
  .box-text {
    padding-top: 20px;
  }
  .roller-roller {
    z-index: 3;
  }
  .roller-day-night {
    z-index: 4;
  }
  .roller-rome {
    z-index: 5;
  }
  .roller-wood {
    z-index: 6;
  }
  .roller-rollet {
    z-index: 7;
  }
  .roller-setka {
    z-index: 8;
  }
  .modal__inner {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 90vh;
    padding: 60px 40px 40px;
  }
  .modal__descr {
    font-size: 16px;
  }
  .modal__title {
    font-size: 22px;
  }
  .main-slider {
    width: 85%;
    height: 330px;
  }
}
@media (max-width: 576px) {
  .roller__boxes {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 350px 1fr;
    grid-template-rows: 350px 1fr;
    grid-gap: 20px;
  }
  .box-img {
    height: 350px;
    width: 107%;
  }
  .box-text {
    padding-top: 0;
  }
  .roller__boxes-last {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .fabric__boxes {
    height: 350px;
  }
  .main-slider {
    width: 85%;
    height: 250px;
  }
}
@media (max-width: 480px) {
  .first__container {
    padding-top: 35%;
  }
  .first__head {
    font-size: 32px;
  }
  .first__head span {
    font-size: 28px;
  }
  .first__btn {
    font-size: 18px;
  }
  .roller__boxes {
    -ms-grid-rows: 250px 1fr;
    grid-template-rows: 250px 1fr;
    grid-gap: 20px;
  }
  .roller__boxes-last {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .box-img {
    height: 250px;
    width: 107%;
  }
  .fabric__boxes {
    height: 250px;
  }
  .main-slider {
    width: 85%;
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */
