@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 65px;
  line-height: 1.2153846154;
}

:root {
  --width: 100vw;
  --angle: -7.8deg;
  --angle-right: 6.2deg;
  --magic-number: 0.06845;
  --skew-padding: calc(var(--width) * var(--magic-number));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #4F5D75;
  color: #2D3142;
}
body._lock {
  overflow: hidden !important;
  height: 100% !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.logo--header {
  height: 50px;
}

.header__ver {
  background-color: #4F5D75;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
  letter-spacing: 0.09em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding: 120px 0 120px 105px;
  position: relative;
}
.header__ver::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 79px;
  height: 1px;
  background-color: #F6F6F6;
  -webkit-transform: translateX(35%) rotate(172.52deg);
  -ms-transform: translateX(35%) rotate(172.52deg);
  transform: translateX(35%) rotate(172.52deg);
}
.header__ver-right::before {
  -webkit-transform: translateX(35%) rotate(-172.52deg);
  -ms-transform: translateX(35%) rotate(-172.52deg);
  transform: translateX(35%) rotate(-172.52deg);
  top: 14px;
}
.header__ver-last::before {
  content: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.btn {
  background: #2D3142;
  border-radius: 20px;
  padding: 10px 32px;
  color: #F6F6F6;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.diagonal-box {
  position: relative;
  margin-top: -1px;
}

.bg-one:before {
  background-image: -o-linear-gradient(45deg, #654ea3, #eaafc8);
  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  z-index: 1;
}

.bg-two:before {
  background-color: #FFFFFF;
  z-index: 0;
}

.header {
  background-color: #4F5D75;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index: 8;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  height: 59px;
  margin-right: 197px;
}
.header__menu {
  margin-right: 78px;
}
.header__phone {
  height: 20px;
  width: 20px;
  margin-right: 30px;
}
.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__lang > .menu__item {
  position: relative;
  text-transform: unset;
}
.header__lang > .menu__item:not(:last-child) {
  margin-right: 8px;
}
.header__lang > .menu__item:first-child::before {
  content: "";
  position: absolute;
  right: -5px;
  top: 2px;
  height: 16px;
  width: 2px;
  background-color: #FFFFFF;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item {
  width: 24px;
  height: 24px;
  margin-right: 29px;
}

.first {
  position: relative;
  background-color: #fff;
  background-image: url(../images/bg/first-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  z-index: 4;
}
.first::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
.first__container {
  padding-left: 207px;
  padding-top: 200px;
  padding-bottom: 228px;
  z-index: 2;
  position: relative;
}
.first__head {
  z-index: 2;
  position: relative;
  text-shadow: 0px 3px 36px #000000;
  color: #F6F6F6;
  text-transform: uppercase;
  margin-bottom: 31px;
  letter-spacing: 0.09em;
}
.first__head::after {
  position: absolute;
  content: "";
  bottom: 0;
  bottom: 77px;
  height: 3px;
  width: 272px;
  background-color: #F6F6F6;
}
.first__head span {
  letter-spacing: 0;
  display: block;
  margin-top: 33px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2181818182;
  color: #FFFFFF;
  text-shadow: 0px 2px 14px #000000;
  text-transform: lowercase;
}
.first__btn {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2083333333;
  padding: 20px;
  background-color: #EF8354;
  border-radius: 36px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.features {
  z-index: 3;
}
.features__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  --translation: 0;
  padding-left: 60px;
  position: relative;
  height: 436px;
}
.features__boxes::before {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle));
  -ms-transform: skewy(var(--angle));
  transform: skewy(var(--angle));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}
.features__boxes > .box {
  width: 273px;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(var(--translation));
  -ms-transform: translateY(var(--translation));
  transform: translateY(var(--translation));
}
.features__boxes > .box:nth-child(1) {
  --translation: calc(var(--skew-padding) * 0);
}
.features__boxes > .box:nth-child(2) {
  --translation: calc(var(--skew-padding) * -0.5);
}
.features__boxes > .box:nth-child(3) {
  --translation: calc(var(--skew-padding) * -1);
}
.features__icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.features__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.features__text {
  line-height: 1.5;
}
.features__text p:not(:last-child) {
  margin-bottom: 20px;
}

.about {
  z-index: 2;
}
.about__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__head::before {
  top: -17px;
}
.about__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  --translation: 0;
  padding-left: 60px;
  position: relative;
  color: #FFFFFF;
  padding-top: 160px;
  height: 490px;
}
.about__boxes::before {
  position: absolute;
  overflow: hidden;
  content: "";
  top: -142px;
  left: 0;
  bottom: 0;
  right: -120px;
  background: rgba(0, 0, 0, 0.75);
  height: 113%;
  width: 111.5%;
  z-index: 0;
  -webkit-transform: skewy(var(--angle));
  -ms-transform: skewy(var(--angle));
  transform: skewy(var(--angle));
}
.about__boxes::after {
  content: "";
  position: absolute;
  left: 0;
  top: -60px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle));
  -ms-transform: skewy(var(--angle));
  transform: skewy(var(--angle));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url("../images/bg/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.about__boxes > .box {
  position: relative;
  width: 273px;
  height: 0;
  padding-bottom: 100%;
  -webkit-transform: translateY(var(--translation));
  -ms-transform: translateY(var(--translation));
  transform: translateY(var(--translation));
}
.about__boxes > .box:nth-child(1) {
  --translation: calc(var(--skew-padding) * 0);
}
.about__boxes > .box:nth-child(2) {
  --translation: calc(var(--skew-padding) * -0.5);
}
.about__boxes > .box:nth-child(3) {
  --translation: calc(var(--skew-padding) * -1);
}
.about__boxes > .box::before {
  position: absolute;
  content: "";
  top: -9px;
  left: -16px;
  width: 19px;
  height: 19px;
  border-top: 3px solid rgba(196, 196, 196, 0.5);
  border-left: 3px solid rgba(196, 196, 196, 0.5);
}
.about__boxes > .box::after {
  position: absolute;
  content: "";
  top: 155px;
  right: -4px;
  width: 19px;
  height: 19px;
  border-bottom: 3px solid rgba(196, 196, 196, 0.5);
  border-right: 3px solid rgba(196, 196, 196, 0.5);
}
.about__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.about__text {
  line-height: 1.5;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__head::before {
  content: none;
}
.contacts__info {
  padding-top: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  padding-left: 60px;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__item {
  width: 40px;
  height: 40px;
}
.contacts__item:not(:last-child) {
  margin-right: 18px;
}
.contacts__link img {
  margin: 0;
  padding: 0;
}
.contacts__adress {
  line-height: 160%;
  color: #F6F6F6;
  font-style: normal;
}

.box-img {
  margin-top: -2px;
}
.box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.box-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 35px;
}
.box-text {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  margin-bottom: 37px;
}
.box-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box-btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #F6F6F6;
  width: 188px;
}

.roller {
  position: relative;
}
.roller__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.roller__head {
  padding-left: 100px;
  text-transform: lowercase;
}
.roller__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 405px;
  grid-template-columns: 600px 405px;
  grid-gap: 50px;
  --translation: 0;
  position: relative;
  height: 493px;
  padding-bottom: 20px;
}
.roller__boxes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle-right));
  -ms-transform: skewy(var(--angle-right));
  transform: skewy(var(--angle-right));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  z-index: -1;
}
.roller__boxes-first::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  right: -120px;
  bottom: 0;
  background-color: #fff;
  z-index: -2;
}
.roller__boxes-nobg {
  color: #F6F6F6;
}
.roller__boxes-nobg::before {
  content: none;
}
.roller__boxes-last {
  height: 128px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 30px;
  margin-left: 66px;
}
.roller__boxes > .box {
  width: 273px;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(var(--translation));
  -ms-transform: translateY(var(--translation));
  transform: translateY(var(--translation));
}
.roller__box {
  margin-bottom: 0;
}
.roller__box-first {
  margin-bottom: 67px;
}
.roller__bottom {
  position: absolute;
  bottom: -117px;
  right: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.roller__btn {
  padding-left: 47px;
  margin-left: -66px;
  background: none;
  outline: none;
  border: none;
}
.roller__btn-svg {
  padding: 10px;
  width: 76px;
  height: 76px;
  fill: #2D3142;
  border: 4px solid #2D3142;
  border-radius: 50%;
}
.roller__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.roller__text {
  line-height: 1.5;
}
.roller__text p:not(:last-child) {
  margin-bottom: 20px;
}
.roller-roller {
  z-index: 10;
}
.roller-day-night {
  z-index: 11;
}
.roller-day-night .box-btns {
  z-index: 40;
}
.roller-rome {
  z-index: 12;
}
.roller-wood {
  z-index: 13;
}
.roller-rollet {
  z-index: 14;
}
.roller-setka {
  z-index: 15;
}

.fabric__container {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fabric__head {
  padding-left: 100px;
  text-transform: lowercase;
}
.fabric__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 493px;
  width: 100%;
  padding-left: 60px;
}
.fabric__boxes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  right: -120px;
  bottom: 0;
  -webkit-transform: skewy(var(--angle-right));
  -ms-transform: skewy(var(--angle-right));
  transform: skewy(var(--angle-right));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
}
.fabric__boxes-last {
  height: 128px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-left: 30px;
  margin-left: 66px;
  color: #F6F6F6;
}
.fabric__boxes-last::before {
  content: none;
}
.fabric__boxes-bg::after {
  position: absolute;
  content: "";
  top: 0;
  right: -120px;
  bottom: 0;
  left: 0;
  height: 100%;
  -webkit-transform: skewy(var(--angle-right));
  -ms-transform: skewy(var(--angle-right));
  transform: skewy(var(--angle-right));
  -webkit-transform-origin: -1px 0;
  -ms-transform-origin: -1px 0;
  transform-origin: -1px 0;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
}
.fabric__boxes-roller {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fabric__boxes-roller::before {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  bottom: -120px;
  top: -7px;
  background: url(../images/fabric/roller/00.png) center/cover no-repeat;
}
.fabric__boxes-roller::after {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  bottom: -120px;
}
.fabric__boxes-rome::before {
  background: url(../images/fabric/rome/01.jpg) center/cover no-repeat;
}
.fabric__boxes-rollet::before {
  background: url(../images/fabric/rollet/01.jpg) center/cover no-repeat;
}
.fabric__slider {
  height: 360px;
  width: 600px;
  position: relative;
  background-color: #4F5D75;
}
.fabric__bottom {
  bottom: -81px;
  right: 1px;
}
.fabric__bottom .roller__btn-svg {
  fill: #F6F6F6;
  border: 4px solid #F6F6F6;
}

.main-slider {
  position: relative;
  height: 360px;
  width: 600px;
  background-color: #4F5D75;
  -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
}
.main-slider__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-slider__slide {
  width: 600px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.3)) drop-shadow(-3px -3px 10px rgba(255, 255, 255, 0.18));
}
.main-slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22px;
  width: 14px;
  cursor: pointer;
  z-index: 12;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.main-slider__btn-prev {
  left: 50px;
}
.main-slider__btn-fill {
  width: 100%;
  height: 100%;
  fill: #B2B2B2;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-slider__btn-next {
  right: 50px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.menu__body {
  margin-top: -5px;
}
@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 150px 30px 50px 70px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 116px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 2;
  }
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #F6F6F6;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu__item:not(:last-child) {
  margin-right: 63px;
}
.menu__item.current {
  color: #2D3142;
}
@media (min-width: 768px) {
  .menu__item._hover .menu__sub-list {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .menu__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 18px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    width: 32px;
    height: 29px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 5;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #F6F6F6;
}
.modal._active {
  visibility: visible;
  opacity: 1;
}
.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(28, 33, 41, 0.95);
}
.modal__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 850px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(79, 93, 117, 0.8);
  border-radius: 50px;
  padding: 60px 50px;
  height: 90vh;
  overflow-y: auto;
}
.modal__inner::-webkit-scrollbar {
  width: 0;
}
.modal__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 42px;
  height: 42px;
  background: none;
  border-radius: 50%;
  padding: 7px;
  border: 2px solid #F6F6F6;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.modal__title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.125;
  margin-bottom: 30px;
}
.modal__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  margin: 0 auto;
  margin-bottom: 60px;
}
.modal__descr h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}
.modal__descr p {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}
.modal.active {
  display: block;
}

@media (min-width: 992px) {
  .main-slider__btn:hover {
    width: 18px;
    height: 28px;
  }
  .modal__close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
/*# sourceMappingURL=style.css.map */
