@media ( max-width:1200px )
  .first
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%)
  .header__ver
    padding: 120px 10px 120px 50px
    &::before
      top: 8px
  .about__head::before
    top: -11px
  .header__logo
    margin-right: 150px
  .menu__item:not(:last-child)
    margin-right: 58px
  .about__boxes,
  .features__boxes
    grid-gap: 55px
  .about__boxes::before
    bottom: 72px
  .contacts__head
    padding: 80px 10px 80px 50px
  .contacts__info
    padding-right: 60px
  .roller__boxes
    grid-template-columns: 56% 39%
  .roller__boxes-last,
  .fabric__boxes-last
    grid-template-columns: 1fr
    width: 100%
  .roller__boxes-last,
  .fabric__boxes-last
    margin-left: 13px

@media ( max-width:1150px )
  .header__logo
    margin-right: 90px
  .about__boxes,
  .features__boxes
    grid-gap: 40px
  .roller__boxes
    grid-gap: 35px
    height: 462px
  .roller__boxes-last,
  .fabric__boxes-last
    height: auto
  .header__ver
    padding: 81px 10px 81px 50px
  .modal__inner
    width: 85%

@media ( max-width:1100px )
  .header__container
    justify-content: space-between
  .menu__item:not(:last-child)
    margin-right: 50px
  .first__container
    // padding-left: 15%
  .about__boxes::before
    bottom: 68px
  .roller__boxes
    height: 462px
  .roller__boxes-last,
  .fabric__boxes-last
    height: auto
  .box-title
    font-size: 34px
    margin-bottom: 20px

@media ( max-width:1050px )
  .first
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%)
  .header__menu,
  .header__logo
    margin-right: 0
  .features__boxes > .box,
  .about__boxes > .box
    width: 248px
  .about__boxes,
  .features__boxes
    grid-gap: 35px
  .about__boxes::before
    bottom: 62px
  .roller__boxes
    height: 400px
    grid-template-columns: 48% 48%
  .box-title
    font-size: 32px
    margin-bottom: 24px
  .box-descr
    margin-bottom: 24px
  .roller__bottom
    bottom: -37px
  .roller__boxes-last,
  .fabric__boxes-last
    height: auto
  .fabric__boxes-last
    grid-template-columns: 1fr

