@media ( max-width:480px )
  .first__container
    padding-top: 35%
    padding-left: 10px
    padding-right: 10px
  .first__head
    font-size: 32px
    &::after
      bottom: 33px
    span
      font-size: 26px

  .first__head span,
  .first__name
    font-size: 28px
  .first__head
    font-size: 26px
    letter-spacing: .95px

  .roller__boxes
    grid-template-rows: 250px 1fr
    grid-gap: 20px

  .roller__boxes-last,
  .fabric__boxes-last
    grid-template-rows: 1fr

  .box-img
    height: 250px
    width: 107%
  .box-content
    width: 90vw
    &.active
      transform: translateX(25px) translateY(-12px)

  .fabric__boxes
    height: 250px

  .main-slider
    width: 85%
    height: 200px
