@media ( max-width:576px )
  .header__social
    flex-direction: column
    align-items: flex-end
    gap: 40px
  .header__phone
    margin-right: 0
  .social__list
    justify-content: flex-end
    row-gap: 20px
  .roller__boxes
    grid-template-columns: 1fr
    grid-template-rows: 350px 1fr
    grid-gap: 20px
  .box-img
    height: 350px
    width: 107%
  .box-text
    padding-top: 0
  .box-content
    // left: 50%
    // &::after
    //   left: 50%
  .roller__boxes-last,
  .fabric__boxes-last
    grid-template-rows: 1fr

  .fabric
  .fabric__head
    margin-top: 20px
    // padding-bottom: 0

  .first__head,
  .first__head span,
  .first__name
    font-size: 32px
  .first__btn
    font-size: 18px

  .main-slider
    width: 85%
    height: 250px


