@media ( max-width:768px )
  body
    &._lock
      overflow: hidden

  .header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 7
    background-color: rgba($black, 0.9)
    filter: drop-shadow(5px 0px 15px rgba($black, 0.7))
    &__container
      padding: 0 30px

  .header__lang
    display: none
