@media ( max-width:768px )
  body
    &._lock
      overflow: hidden

  .header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 15
    background-color: rgba($bgc, 0.9)
    filter: drop-shadow(0px 10px 15px rgba($black, 0.5))
    &__container
      padding: 0 30px
    &__logo
      height: 40px
      z-index: 16
    &__lang
      justify-content: flex-end
      margin-top: 25px
      & .menu__item
        margin-bottom: 0
        margin-left: 20px
    &__social
      display: flex
      margin-top: 50px
      justify-content: flex-end
    &__phone
      // margin-right: 0
      height: 50px
      width: 50px
    &__ver
      padding-bottom: 20px
  .header__lang > .menu__item:first-child::before
    content: none
  .menu__item.current
    color: $text
  .menu__list
    gap: 0
  .social__item
    margin-right: 0
    margin-left: 30px
    width: 50px
    height: 50px
    img
      padding: 12px
    &__logo
      height: 40px
      z-index: 10

  .first__head
    font-size: 45px
    span
      font-size: 35px
    &::after
      bottom: 40px
      left: 0
      width: 100%
  .first__container
    padding-left: 7%
    padding-top: 25%

  .fabric__container
    &::before
      top: 0

  .features__boxes,
  .about__boxes
    grid-template-columns: 1fr

  .about__boxes > .box
    &::before,
    &::after
      content: none

  .contacts
    &__info
      flex-direction: column
      justify-content: center
    &__phone
      margin-bottom: 15px
    &__name
      text-align: center

  .box-btns
    flex-wrap: wrap
    justify-content: center
    a
      margin-bottom: 20px
  .box-btn
    width: 85%
  .box-text
    padding-top: 20px
  .box-title
    line-height: 1.1
    font-size: 30px
  .box-descr
    line-height: 1.2

  .roller
    &-roller
      z-index: 3
    &-day-night
      z-index: 4
    &-rome
      z-index: 5
    &-wood
      z-index: 6
    &-rollet
      z-index: 7
    &-setka
      z-index: 8


  .modal__inner
    top: 50%
    transform: translate(-50%, -50%)
    height: 90vh
    padding: 60px 40px 40px
  .modal__descr
    font-size: 16px
  .modal__title
    font-size: 22px

  .main-slider
    width: 85%
    height: 330px
  .main-slider__slide
    height: auto


